* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.fakebay-logo {
    cursor: pointer;
}

input {
    width: 80%;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid black;
}

.search-button {
    border: none;
    background-color: rgb(77, 172, 231);
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}

.fake-span {
    color: rgb(226, 74, 74);
}

.bay-span {
    color: rgb(13, 175, 13);
}

.featured-products {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.product h1 {
    font-size: 20px;
    text-align: center;
}

.product {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: margin-bottom 0.2s,
    box-shadow 0.2s;
}

.product:hover {
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 255, 76, 0.7);
}

.shopping-cart-navbar {
    margin-bottom: 40px;
}

.shopping-cart-div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: green;
    position: absolute;
    right: 20px;
    top: 0;
    width: 50px;
    height: 50px;
}

@media (max-width: 710px) {
    .navbar {
        flex-direction: column;
    }
}

